.intro-text{
    text-align: center;
}
.poster-home__title {
    font-size: var(--font__title-size);
    font-weight: var(--font__title-weight);
    margin-top: 10rem;
    text-align: center;
}

.cs-wrapper-left-source {
    display: flex;
    flex-direction: column;
    width: 6rem;
    margin-top: 2rem;
    text-align: left;
}

.cs-wrapper-right-source {
    margin-top: 1.5rem;
    width: 100%;
}

.cs-wrapper {
    background-color: rgba(255, 255, 255, 0.788);
    margin-left: 10rem;
    margin-right: 10rem;
    margin-top: 2rem;
    padding-left: 5rem;
    padding-right: 5rem;
    width: 80%;
    height: 80vh;
    display: flex;
    position: relative;
    overflow: scroll;
    flex-direction: column;
    text-align: left;
}

.cs-video {
    width: 100%; 
    height: 100%; 
}

.cs-normal-wrapper {
    text-align: left;
    width: 60%;
}

.cs-tworows{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 2rem;
    text-align: left;
}

.cs-left-row {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin-top: 2rem;
    text-align: left;
}

.cs-left-row-2 {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin-top: 2rem;
    text-align: left;
    padding-right: 2rem;
}

.cs-right-row {
    display: flex;
    flex-direction: column;
    padding-left: 2rem;
    text-align: right;
}

.cs-right-row-1 img {
    width: 20rem;
    height: 20rem;
    margin-top: -18rem;
}

.cs-right-row-2 {
    margin-top: 2rem;
}

.cs-right-row-2 img {
    width: 30rem;
    height: 20rem;
    margin-top: 3rem;
}

.link-text {
    font-size: 10px;
    color: rgb(156, 156, 156);
    width: 400px;
    word-wrap: break-word;
}

.cs-left-row-source {
    display: flex;
    flex-direction: column;
    width: 6rem;
    margin-top: 2rem;
    text-align: left;
}

.cs-right-row-source {
    margin-top: 1.5rem;
    width: 100%;
}

.normalImage img {
    width: 40rem;
    height: 10rem;
    margin-top: 3rem;
    margin-right: 1rem;
}

.flex-approachwrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 39rem;
    border-radius: 20px;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    background-color: #bdb2ff;
    margin-bottom: 2rem;
    margin-right: 5rem;
}

.approach {
    display: flex;
    flex-direction: column;
}

.procon {
    display: flex;
    flex-direction: row;
}

.approach-pro {
    width: 18rem;
    background-color: var(--pro__color);
    padding: 10px;
    border-radius: 20px;
}

.approach-con {
    margin-left: 3rem;
    width: 18rem;
    background-color: var(--con__color);
    padding: 10px;
    border-radius: 20px;
}

.smol-title {
    font-weight: var(--font-h3__text-weight);
    text-align: center;
}

.middle-title {
    font-size: var(--middle-title__size);
    font-weight: var(--middle-title__weight);
}

.flex-row-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.cs-smartphone {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    height: 900px;
    width: 650px;
}

.cs-smartphone img {
    justify-content: center;
    align-items: center;
    align-self: center;
    height: 900px;
    width: 650px;
}

.img-inside1 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    align-self: center;
    height: 100%;
    width: 100%;
    margin-top: 3rem;


}

.img-inside1 img {
    justify-content: center;
    align-items: center;
    align-self: center;
    height: 730px;
    width: 370px;
    border-radius: 30px;
}