.App {
  text-align: center;
}


.App-header {
  background-color: #282c34;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 5vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/*########################
NAVIGATION
########################*/
nav {
  display: flex;
  justify-content: space-around;
  min-height: 8vh;
  position: absolute;
  width: 100%;
  align-items: center;
  color: rgba(255,255,255,0.85);
}

.Logo {
  display: flex;
  color: rgba(255,255,255,0.85);
  font-size: 32px;
}

.NavLinks {
  display: flex;
  list-style: none;
  justify-content: space-around;
  width: 50%;
}